body {
	margin: 0;

	font-family: 'M PLUS Rounded 1c';
	font-size: 14px;
	color: #000000;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	
	border-bottom: 1px solid
	#515369;
}

.header {
padding: 20px 0;
}

.header__inner {
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid
	#515369;
}

.header__logo__name {
	font-family: 'Press Start 2P';
	font-size: 30px;
}

pre {
	margin: 0 auto;
	font-family: 'Press Start 2P';
	font-size: 32px;
	text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;	
}

code {
	margin: 0 auto;
	font-family: 'Press Start 2P';
	font-size: 16px;	
}



/* Nav
===================*/

.nav {
	display: flex;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	justify-content: center;
}

.nav__link {
	margin-left: 15px;
	color: #000000;
	text-decoration: none;
	opacity: 0.75;
	transition: opacity 0.1s linear;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	opacity: 1;
}


